@use "../../../theme/scss/root.scss";

header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  width: 100%;
  background-color: #fff;
  height: 60px;
  padding: 0px 10px;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  @media (max-width: 1200px) {
    padding: 0px 10px;
  }
}

a {
  text-decoration: none;
  font-size: 15px;
  // color: root.$primary-color;
  color: #000;
  font-weight: bold;
}

.company-name {
  font-size: 22px;
}

// .active {
//     color: #0d6efd;
// }

.navbar .nav-links-container {
  display: flex;
  gap: 2rem;
  margin: auto;
}

.account_icon {
  font-size: 31px !important;
}

.user-icon {
  font-size: 18px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  font-family: root.$global-font;
}

.li-items {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative; /* To make the submenu appear relative to the parent */
}

.li-items a.active {
  // color: root.$dark-primary-color;
  font-size: 16px;
}

/* Style the main navigation link */
.nav-link {
  display: block;
  padding: 15px 10px;
  text-transform: capitalize !important;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-size: 16px;
}

/* Apply hover effect to the main navigation link */
// .li-items:hover .nav-link {
//     color: root.$dark-primary-color;
// }

/* Style the submenu container */
.sub-menu {
  position: fixed;
  z-index: 999999 !important;
  display: none;
  border-radius: 0px;
  /* margin-top: 10px; */
  // z-index: 99;
  list-style: none;
  border-radius: 10px;
  width: 200px;
  background-color: root.$white;
  box-shadow: 10px 10px 50px rgb(0 0 0/5%);
}

/* Style the submenu items */
.sub-menu .sub-li-items {
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  text-align: start;
}

/* Apply hover effect to submenu items */
.sub-li-items:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Display submenu on hover of parent li */
.li-items:hover .sub-menu {
  display: block;
}

/* only for drawer */

/* Style the submenu container */
.sub-menu-drawer {
  position: fixed;
  z-index: 999999 !important;
  display: none;
  border-radius: 0px;
  /* margin-top: 10px; */
  margin-left: 230px;
  // z-index: 99;
  list-style: none;
  border-radius: 10px;
  width: 200px;
  background-color: root.$white;
  box-shadow: 10px 10px 50px rgb(0 0 0/5%);
}

/* Style the submenu items */
.sub-menu-drawer .sub-li-items-drawer {
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

/* Apply hover effect to submenu items */
.sub-li-items-drawer:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Display submenu on hover of parent li */
.li-items-drawer:hover .sub-menu-drawer {
  display: block;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  width: 350px !important;
}

.nav-link.active {
  color: #fefefe;
  background: #3e667a;
  border-radius: 5px;
}

.sub-sub-li-items {
  display: none; /* Hide sub-sub-items by default */
  list-style-type: none;
  padding: 0px;
}

.sub-li-items {
  position: relative; /* Ensure the relative position for absolute positioning */
}

.sub-li-items:hover .sub-sub-li-items {
  display: block;
  text-align: start;
  padding: 10px;
}

/* Positioning the sub-sub-items */
.submenu {
  position: absolute;
  left: 100%; /* Position it to the right of the parent item */
  top: 0; /* Align with the top of the parent item */
}

.menu_drawer {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .menu_item {
    position: relative;

    .sub_menu_drawer {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      left: 100%;
      top: 0;
    }

    &:hover > .sub_menu_drawer {
      display: block;
    }
  }
}
