// @use '../../../../theme/scss/root.scss';
@use '../../theme/scss/root.scss';
@use '../../theme/scss/media_query.scss' as media;

.company_name {
    font-size: 22px;
}

.imgClass {
    height: 35px;
    width: 120px;

    @include media.max-px(1611px) {
        height: 30px;
        width: 100px;
    }
}
