$global-font: "Montserrat" ,  sans-serif;

$light_background: #bed2e7;
$light_background2: #e5e5e5;
$header_background: #f0f0f0;
$card_background: #a0bcdd;
$table_header: #ffffff;
$table_search_add_background: #87a5a7;
$delete_color: red;
$white: #fff;
$black: #000;
$yellow: #fff000;
$table_odd: #eeeeeeef;
$tbale_even: #ffffff;
$bold: bold;
$light_skinny:#f9e9cf;
$fontSize16:16px;
$fontSize12:12px;
