// $global-font: "Montserrat" ,  sans-serif;
$global-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;

$light-primary-color: #bed2e7;

$highlight-color: #677fa9;
$white: #fff;
$black: #000;
$yellow: #fff000;
$table-header:rgb(184 184 184 / 94%);

// $primary-color:#dde9fb;
$primary-color:rgb(243 248 255 / 90%);
// $dark-primary-color:#375995;
$dark-primary-color:#3e667a;
$secondary-color:#a1c2f8;

$table_odd: #eeeeeeef;
$table_even: #ffffff;
$fontSize16: 16px,


